<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>All Book Orders</title>
	<link rel="stylesheet" th:href="@{/css/admin/bookorder.css}" />
	<link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}" />
</head>

<body>
	<!-- Nav bar-->
	<div class="nav">
		<!-- Left-aligned search container -->
		<div class="search-container">
			<span class="title"><a th:href="@{/admin/adminhomepage}">Book Store</a></span>
			<input type="text" class="search-input" placeholder="Search books">
			<button class="search-button">Search</button>
		</div>
		<!-- Right-aligned navigation menu -->
		<ul>
			<li><a th:href="@{/admin/viewbook}">Books List</a></li>
			<li><a th:href="@{/admin/addbook}">New Book Register</a></li>
			<li><a th:href="@{/admin/bookorder}">All Orders</a></li>
			<li><a th:href="@{/admin/adminprofile}"><i class="fa-solid fa-user"></i></a></li>
		</ul>
	</div>

	<!-- Page Header -->
	<div class="book-text">
		<h1>All Orders</h1>
	</div>

	<!-- Orders Table -->
	<div class="table-container">
		<form th:action="@{/admin/updateOrderStatus}" method="post">
			<table>
				<thead>
					<tr>
						<th>Username</th>
						<th>Order No</th>
						<th>Book</th>
						<th>Price (RS.)</th>
						<th>Qty</th>
						<th>Total</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody th:if="${orders != null}">
					<tr th:each="order : ${orders}">
						<td th:text="${order.user.username}"></td>
						<td th:text="${order.id}"></td>
						<td th:text="${order.book.name}"></td>
						<td th:text="${order.book.price}"></td>
						<td th:text="${order.quantity}"></td>
						<td th:text="${order.amount}"></td>
						<td>
							<select th:name="'status_'+${order.id}">
								<option th:each="status : ${statusType}" th:value="${status}" th:text="${status}"
									th:selected="${order.orderStatus != null && order.orderStatus.toString() == status}">
								</option>

							</select>
						</td>
						<td>
							<button type="submit" name="orderId" th:value="${order.id}">Update</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>

</html>