<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Books</title>
    <link rel="stylesheet" th:href="@{/css/admin/viewbook.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}">
  </head>
  <body>
    <div class="container">
    <!-- Nav bar-->
        <div class="nav">
        <!-- Left-aligned search container -->
            <div class="search-container">
                <span class="title"><a th:href="@{/admin/adminhomepage}">Book Store</a></span>
                <input type="text" class="search-input" placeholder="Search books">
                <button class="search-button">Search</button>
            </div>
        <!-- Right-aligned navigation menu -->
            <ul>
                 <li><a th:href="@{/admin/viewbook}">Book List</a></li>
                 <li><a th:href="@{/admin/addbook}">New Book Register</a></li>
                 <li><a th:href="@{/admin/bookorder}">All Orders</a></li>
                 <li><a th:href="@{/admin/adminprofile}"><i class="fa-solid fa-user"></i></a></li>
            </ul>
         </div>
        <div class="sub-container">All Book List</div>
    </div>
    <div class="home">
        <div class="bookbar">
          <div class="class1" th:if="${bookList != null}">
            <div class="image" th:each="book : ${bookList}">
              <img th:src="@{'/img/book/'+ ${book.imageId}}" />
              <div class="heading">
                <h1 th:text="${book.name}"></h1>
                <h6 th:text="${book.author}"></h6>
                <p th:text="${book.price}"></p>
              </div>
              <div class="box">
<button id="but1" type="button" th:onclick="'location.href=\'' + @{/admin/updatebook/{id}(id=${book.id})} + '\''"><i class="fa-solid fa-pen-to-square"></i></button>
 <button id="but2" type="button" th:onclick="'location.href=\'' + @{/admin/deletebook/{id}(id=${book.id})} + '\''"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
        </div>
      </div>
      </div>
  </body>
</html>