
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Food Item</title>
    <link rel="stylesheet" th:href="@{/css/admin/viewfood.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}">
  </head>
  <body>
    <div class="nav">
      <div class="nav1">
        <img th:src="@{/img/C.png}" alt="img" />
      </div>
      <div class="nav2">
        <input type="text" placeholder="Search for products" />
      </div>
      <div class="nav3">
        <a th:href="@{/admin/login}">Home Page</a>
        <a th:href="@{/admin/addfood}">Add Food Menu</a>
        <a style="color: black;" th:href="@{/admin/viewfood}">View Food Menu</a>
        <a th:href="@{/admin/foodorder}">All Order</a>
        <a th:href="@{/admin/profile}" ><i class="fa-regular fa-circle-user"></i></a>
      </div>
    </div>
    <div class="Home2">
        <div class="Menubar">
          <div class="class1" th:if="${foodList != null}">
            <div class="image" th:each="food : ${foodList}">
              <img th:src="@{'/img/food/'+ ${food.imageId}}" />
              <div class="heading">
                <h1 th:text="${food.name}"></h1>
                <p th:text="${food.price}"></p>
              </div>
              <div class="box">
<button id="but1" type="button" th:onclick="'location.href=\'' + @{/admin/updatefood/{id}(id=${food.id})} + '\''">Update</button>
 <button id="but2" type="button" th:onclick="'location.href=\'' + @{/admin/deletefood/{id}(id=${food.id})} + '\''">Delete</button>
              </div>
            </div>
        </div>
      </div>
      </div>
  </body>
</html>
