
*{
    padding: 0%;
    margin: 0%;
    list-style: none;
    font-family: sans-serif;
}
.nav{
    background-color:  rgb(197, 2, 2);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav1 img{
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav3{
    height: 10vh;
    width: 55%;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
.nav3 a{
    text-decoration: none;
    color: white;
}
.nav3 i{
    font-size: 35px;
}
.nav2 {
   height: 10vh;
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.nav2 input{
   height: 8vh;
   width: 95%;
   border-radius: 5px;
   border: 1px solid grey;
   padding-left: 10px;
}
.nav3 a:hover{
    color: black;
    cursor: pointer;
}
.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.container-sub{
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
button {
    width: 100%;
    background-color: rgb(248, 189, 0);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color:  rgb(197, 2, 2);
}
.preview-image {
   width: 40%;
   height: 20vh;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
