*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}
/* Nav Bar  */
.nav{
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
/* Left-aligned search container */
.search-container{
    margin-left: 50px;
    width: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 7vh;
}
.title a{
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.search-input{
    height: 4vh;
    width: 250px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.search-button{
    height: 5vh;
    width: 80px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
    font-size: 20px;
    cursor: pointer;
}
.nav ul li a{
    color: white;
    text-decoration: none;
}
.container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
.container-sub{
    width: 400px;
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}
.container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color:#28a745;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #218838;
} 
.signup {
    text-align: center;
    margin-top: 1rem;
    font-size: 14px;
}
.signup a {
    text-decoration: none;
    color: blue;
}
.signup a:hover {
    text-decoration: underline;
}
.nav3 a:hover{
    color: black;
    cursor: pointer;
}
.error{
	color: red;
	font-size: 10px;
}

