
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/homepage.css}" />
    <title>Home Page</title>
  </head>
  <body>
    <div class="Home">
      <div class="nav">
        <div class="nav1">
          <img th:src="@{/img/logo.jpg}" alt="img" />
        </div>
        <div class="nav2">
          <input type="text" placeholder="Search for products" />
        </div>
        <div class="nav3">
          <a th:href="@{/home}">Home Page</a>
          <a th:href="@{/viewFood}">All Food Items</a>
          <a th:href="@{/login}">Login</a>
          <a th:href="@{/signup}">Sign up</a>
        </div>
      </div>
      <div class="container">
        <h1>Canteen Management System</h1>
        <p th:if="${loginStatus != null}">[[${loginStatus}]]</p>
      </div>
    </div>
  <div class="Home2">
      <div class="Menu">
        <h1>All food items</h1>
      </div>
      <div class="Menubar">
          <div class="class1" th:if="${foodList != null}">
            <div class="image" th:each="food : ${foodList}">
              <img th:src="@{'/img/food'+ ${food.imageId}}" />
              <div class="heading">
                <h1 th:text="${food.name}"></h1>
                <p th:text="${food.price}"></p>
              </div>
              <div class="box">
<button id="but1" type="button" th:onclick="'location.href=\'' + @{/login} + '\''">Buy Now</button>
 <button id="but2" type="button" th:onclick="'location.href=\'' + @{/login} + '\''">Add To Cart</button>
              </div>
            </div>
        </div>
      
       
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
