
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
  </head>
  <body>
    	<!-- Nav bar-->
	<div class="nav">
		<!-- Left-aligned search container -->
		<div class="search-container">
			 <span class="title"><a th:href="@{/}">Book Store</a></span>
			<input type="text" class="search-input" placeholder="Search books">
			<button class="search-button">Search</button>
		</div>
		<!-- Right-aligned navigation menu -->
		<ul>
			<li><a th:href="@{/login}"><i class="fa-solid fa-user"></a></i></li>
		</ul>
	</div>
	
    <div class="container">
		<div class="container-sub">
			<h2>Login</h2>
			<form th:action="@{/login/user}" method="POST">
				
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" id="username" name="username" placeholder="Enter your username" required />
					<p class="error" th:if="${loginStatus !=null}">[[${loginStatus}]]</p>
				</div>
			
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" id="password" name="password" placeholder="Enter your password" required />
					<p class="error" th:if="${loginStatus !=null}">[[${loginStatus}]]</p>
				</div>
				<br />
				<div class="form-group">
					<button type="submit">Login</button>
				</div>
				<p class="signup">
					Don't have an account? <a th:href="@{/signup}">Sign up</a>
				</p>
			</form>
		</div>
	</div>
  </body>
</html>
