
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Profile</title>
    <link rel="stylesheet" th:href="@{/css/customer/profile.css}" />
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css}">
  </head>
  <body>
    <div class="nav">
      <div class="nav1">
        <img th:src="@{/img/C.png}" alt="img" />
      </div>
      <div class="nav2">
        <input type="text" placeholder="Search for products" />
      </div>
      <div class="nav3">
        <a th:href="@{/customer/home}">Home Page</a>
        <a th:href="@{/customer/viewFood}">All Food Items</a>
         <a th:href="@{/customer/cart}">Cart</a>
                     <a  th:href="@{/customer/foodorder}">My Orders</a>

        <a th:href="@{/customer/profile}">My Profile</a>
      </div>
    </div>
    <div class="container">
      <div class="container-sub">
        <h2>Profile</h2>
        <div class="profile-header">
          <img th:src="@{'/img/user/'+ ${user.imageId}}" alt="Costumer Photo" class="profile-pic">
          <h1 th:text="${user.username}"></h1>
        </div>
        <div class="profile-details">
          <ul>
            <li > Role : <strong th:text="${user.role}"></strong></li>
            <li >Phone Number :<strong th:text="${user.phone}"></strong></li>
          </ul>
          <button class="button1" type="button" 
           th:onclick="'location.href=\'' + @{/logout/user} + '\''">
           Log out</button>
           
          <button class="button2" type="button" th:onclick="'location.href=\'' + @{/profile/update} + '\''"
          >Update Profile</button>
          
        </div> 
        
    </div>
    </div>
  </body>
</html>
